.how-made-container {
}

/* .how-made-container.container {
  padding-top: 72px;
} */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .how-made-container.container {
    padding-left: 77px;
    padding-right: 77px;
  }
}

.how-made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .how-made-title {
    font-size: 24px;
    line-height: 1.17;

    margin-bottom: 50px;
  }
}

.how-made-title-accent {
  color: var(--orange);
}

.how-made-wrapper {
}

@media only screen and (min-width: 1200px) {
  .how-made-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}

.how-made-img {
  margin-bottom: 20px;
  display: block;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

@media only screen and (min-width: 1200px) {
  .how-made-img {
    margin-bottom: 0;
  }
}

.how-made-descr {
  padding: 20px 14px;
}

@media only screen and (min-width: 768px) {
  .how-made-descr {
    padding: 32px;
  }
}

.how-made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  margin-bottom: 20px;
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .how-made-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }
}

.how-made-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .how-made-list {
    max-width: 480px;
  }
}

@media only screen and (min-width: 1200px) {
  .how-made-list {
    max-width: 425px;
  }
}

.how-made-item:not(:last-child) {
  margin-bottom: 18px;
}

@media only screen and (min-width: 1200px) {
  .how-made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.how-made-item::before {
  content: ;
}
